/* ==UserStyle==
@name           Empower Personal Dashboard Dark Theme
@namespace      synthead
@homepageURL    https://github.com/synthead/empower-dark-theme
@supportURL     https://github.com/synthead/empower-dark-theme/issues
@updateURL      https://github.com/synthead/empower-dark-theme/raw/main/empower-dark-theme.user.css
@version        1.0.0
@description    Dark theme for Empower Personal Dashboard.
@author         Maxwell Pray
==/UserStyle== */

@-moz-document
url("https://home.personalcapital.com/page/login/app"),
url("https://home.personalcapital.com/page/login/goHome")
{
  html {
    background-color: black;
  }

  body {
    filter: invert(100%) hue-rotate(180deg);
  }

  div.sidebar__header,
  header.pc-login__header,
  a.sidebar__expander,
  nav.main-navbar
  {
    filter: invert(100%) hue-rotate(180deg);
  }
}
